@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div class="pagetitle">
    <h1>About</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item active">About</li>
        </ol>
    </nav>
</div>

<section class="contain">

      <div class="row align-items-top">
        <div class="col-lg-12 center-c">
           
              <!-- Card with header and footer -->
                  <div class="card">
                    <div class="card-header">Services</div>
                    <div class="card-body">
                      <h5 class="card-title">Make Your Child Next Move a Great One</h5>
                      Apply online and find your child the best schools in a location neearest to you.
                    </div>
                    <div class="card-footer">
                      Apply Once and stand your child the best chance.
                    </div>
                  </div><!-- End Card with header and footer -->
            <!-- Card with an image on bottom -->

            
        </div>
    </div>

    <div class="row align-items-top">
      <div class="col-lg-6">
              <!-- Card with an image overlay -->
              <div class="card">
                      <img src="~/img/kids1.jpg" class="card-img-top" alt="Kids">
                      <div class="card-img-overlay">
                      <h5 class="card-title">We have connected private entities to be constant check of the selected school</h5>
                      <p class="card-text">For un-approved applications, you may contact district offices by making an 
                        appeal for your application, your child will be located to the best school fitting the conditions of the appeal. </p>
                      </div>
              </div><!-- End Card with an image overlay -->
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Applications and Appeal dates</h5>
                  <br />
                  <h6>Please see downloadable booklet for year-to-year opening and closing dates for applications and appeals.</h6>
                </div>
              </div>
      </div>
       
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Our schools specifically selected for inclusiveness, </h5>
              <p class="card-text">Schools are in constant communication with district offices for updated terms.</p>
            </div>
            <img src="~/img/kids2.jpg" class="card-img-bottom" alt="Kids 2">
          </div><!-- End Card with an image on bottom -->
        </div>
    </div>
  
    
</section>
