@{
    ViewData["Title"] = "Contact Us";
    Layout = "_Layout";
}

<div class="pagetitle">
    <h1>Contact Us</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item active">Contact Us</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
  
    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Technical Support Issues</h5>
              <p>Please find compliance supporting documents for the different government bodies that liase with us</p>
              <h6>24h support desk <span><i class="bi-phone-fill"></i>(+72 51) 400 5258</span></h6>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">References to Schools and Districts</h5>
              <p>Please contact relevant department regarding issue listed below with their respective offices</p>
              <li>Universitas Schools <span><i class="bi-phone-fill"></i>(+72 81) 710 5258</span></li>
              <li>Willows Schools <span><i class="bi-phone-fill"></i>(+72 51) 444 5148</span></li>
              <li>District Office <span><i class="bi-phone-fill"></i>(+72 51) 402 9876</span></li>
            </div>
          </div>

        </div>
      </div>
    </section>

