@{
    ViewData["Title"] = "F.A.Q's";
    Layout = "_Layout";
}

<div class="pagetitle">
    <h1>Frequetly Asked Questions</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
            <li class="breadcrumb-item active">F A Q's</li>
        </ol>
    </nav>
</div>

<section>
     <div class="col-lg-8">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Find Answers More Common Question by Our users </h5>

              <!-- Accordion without outline borders -->
              <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      School Locations
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">For questions related to School Locations, please note that we currently provide for
                      schools located in Universitas Willows areas.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      How Long does it take to get feedback for my application
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      Depending on the calendar year, parents and guardians can get feedback in 3 months period.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Kids With Disability
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      Please note that all private and government schools are required to provide inclusive services for kids with disability.
                      For more specific subjects in disability, please contact our service desk to find selected schools for specific disability.
                    </div>
                  </div>
                </div>
              </div><!-- End Accordion without outline borders -->

            </div>
          </div>

        </div>
</section>