@{
    ViewData["Title"] = "Home";
    Layout = "_HomeLayout";
}


<div class="pagetitle text-center">
    <h1>Welcome to School Online Applications</h1>
    <hr /><br />
</div>
<!-- End Page Title -->

<section class="section dashboard">

    <div class="row">
        <div class="col-sm-10 text-center center-c">
            <h3>Online Applications & Appeals</h3>
            <br />
            <h6>Make Your Child's next step a Priority, Apply online and reserve your child a space for the upcoming year.</h6>
            <hr />
        </div>
    </div>
    <div class="row align-items-top">
        <div class="col-lg-12">
                <!-- Card with an image overlay -->
                <div class="card">
                    <img src="~/img/background.jpg" class="card-img-top" alt="Kids">
                    <div class="card-img-overlay">
                        <h5 class="card-title">We have connected private entities to be constant check of the selected school</h5>
                        <p class="card-text">For un-approved applications, you may contact district offices by making an 
                            appeal for your application, your child will be located to the best school fitting the conditions of the appeal. </p>
                    

                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-body" style="padding: 10px; maring: 10px; background-color: #fafafa;">
                                        <h1 class="card-title">School Applications Online</h1>
                                        School Applications Online
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="card">
                                    <div class="card-body" style="padding: 10px; maring: 10px; background-color: #fafafa;">
                                        <h1 class="card-title">Find Your Child the Best School</h1>
                                        Find Your Child the Best School
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- End Card with an image overlay -->
                <div class="card">
                    <div class="card-body" style="padding: 10px; maring: 10px; background-color: #fafafa;">
                    <h5 class="card-title">Applications and Appeal dates</h5>
                        <br />
                        <h6>Please see downloadable booklet for year-to-year opening and closing dates for applications and appeals.</h6>
                    </div>
                </div>
        </div>
    </div> 
   
</section>
